<div class="wrapper">
  <div
    class="sidebar"
    data-color="danger"
    data-background-color="white"
    data-image="../assets/img/sidebar-1.jpg"
  >
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
    <div class="logo">
      <a href="" class="simple-text logo-normal">
        <img
          src="https://cdn.pixabay.com/photo/2017/02/21/08/49/food-2085075_1280.png"
          width="70px"
          height="70px"
        />
        CookBox
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item   ">
          <a class="nav-link" (click)="goHomePage()">
            <i class="material-icons">store</i>
            <p>Cửa hàng</p>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" (click)="goProducpage()">
            <i class="material-icons">soup_kitchen</i>
            <p>Món ăn</p>
          </a>
        </li>
        <!-- <li class="nav-item ">
          <a class="nav-link" (click)="goEmployeePage()">
            <i class="material-icons">account_box</i>
            <p>Nhân viên</p>
          </a>
        </li> -->
        <li class="nav-item ">
          <a class="nav-link" (click)="goUserPage()">
            <i class="material-icons">person</i>
            <p>Người dùng</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" (click)="goMenuPage()">
            <i class="material-icons">menu_book</i>
            <p>Thực đơn</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" (click)="goOrderPage()">
            <i class="material-icons">list_alt</i>
            <p>Đơn hàng</p>
          </a>
        </li>
        <!-- <li class="nav-item ">
          <a class="nav-link" (click)="goMaterialPage()">
            <i class="material-icons">kitchen</i>
            <p>Nguyên liệu</p>
          </a>
        </li> -->
        <!-- <li class="nav-item ">
          <a class="nav-link" (click)="goHistoryMaterialPage()">
            <i class="material-icons">receipt</i>
            <p>Cung cấp nguyên liệu</p>
          </a>
        </li> -->
        <li class="nav-item ">
          <a class="nav-link" href="">
            <i class="material-icons">lock_outline</i>
            <p>Đăng xuất</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-panel">
    <!-- Navbar -->
    <nav
      class="
        navbar navbar-expand-lg navbar-transparent navbar-absolute
        fixed-top
      "
    >
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <a class="navbar-brand" href="javascript:;" style="font-size: 30px;">Thêm Món Ăn</a>
        </div>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          aria-controls="navigation-index"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link"
                href="javascript:;"
                id="navbarDropdownProfile"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="material-icons">person</i>
                <p class="d-lg-none d-md-block">Account</p>
              </a>
              <div
                class="dropdown-menu dropdown-menu-right"
                aria-labelledby="navbarDropdownProfile"
              >
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Log out</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="content">
      <div class="tab">
        <div class="row">
          <div class="col-md-4 Center ">
            <button class="tablinks {{activeddl}}" id="buttonclichThongTin" (click)="opentab('ThongTin')">Thông Tin</button>
          </div>
          <div class="col-md-4 Center">
            <button class="tablinks {{activeddl2}}" id="buttonclichThanhPhan"  (click)="opentab('ThanhPhan')">Thành phần</button>
          </div>
          <div class="col-md-4 Center">
            <button class="tablinks {{activeddl3}}" id="buttonclichTienHanh"  (click)="opentab('TienHanh')">Các Bước Tiến Hành</button>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="card">
              <div class="card-header card-header-danger">
                <h4 class="card-title">Tạo biểu mẫu</h4>
                <p class="card-category">Bạn có thể tạo mới một món ăn tại đây</p>
              </div>

              <form>

                <div class="form-group">
                  <div id="ThongTin" [ngStyle]="{display:displayddl}" >
                  <label style="color: black">Hình ảnh</label> <br />
                  <img
                    src={{dish.image}}
                    width="80px"
                    height="80px"
                  />
                  <input
                    type="file"
                    style="
                      opacity: 1;
                      position: relative;
                      z-index: 0;
                      margin-top: 1%;"
                    (change)="fileChangeEvent($event)"
                  />
                  <!-- <label style="color: black">ID</label>
                  <input
                    type="email"
                    class="form-control"
                    value="{{dish.id}}"
                    readonly
                  /> -->
                  <label style="color: black">Tên món</label>
                  <input type="email" name="fielname" class="form-control" [(ngModel)]="dish.name" />
                  <label style="color: black">Mô tả</label>
                  <input
                    type="email"
                    class="form-control"
                    [(ngModel)]="dish.description" 
                    name="fieldes"
                  />

                  <label style="color: black">Thể loại</label>
                  <div class="dropdown">
                    <select name="categorySelect" class="form-control custom-select"  [(ngModel)]="selectcategory" (change)="onChangeCategory()">
                      <option [value]="st.id" *ngFor="let st of ListCategory"  value="{{st.id}}"> {{st.name}}</option>
                    </select>
                  </div>

                  <label style="color: black">Trạng thái</label>
                  <div class="dropdown">
                  <select name="statusSelect" class="form-control custom-select"  [(ngModel)]="selectstatus" (change)="onChangeStatus()">
                    <option [value]="st.key" *ngFor="let st of ListStatus"  value="{{st.key}}">{{st.value}}</option>
                  </select>
                  <label style="color: black">Hương Vị</label>
                  <div class="content" style="margin-top: -2%">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-lg-12 col-md-12">
                          <div class="card">
                            <div class="card-body table-responsive">
                              <table class="table table-hover">
                                <thead class="text-danger">
                                  <tr>
                                    <th>#</th>
                                    <th>Tên Vị</th>
                                    <th>Level</th>
                                    <th>xóa</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr
                                    *ngFor="
                                      let ing of dish.taste_details;
                                      let i = index
                                    "
                                  >
                                    <td>{{ i + 1 }}</td>
                                    <td>
                                      <div class="dropdown">
                                        <select name="TasteSelect{{i}}" class="form-control custom-select"  [(ngModel)]="ing.taste_id" (change)="onChangeCategory()">
                                          <option [value]="st.id" *ngFor="let st of ListTastes"  value="{{st.id}}"> {{st.name}}</option>
                                        </select>
                                      </div>
                                    </td>
                                    <td>
                                      <select name="MaterialSelectTaste{{i}}" class="form-control custom-select"  [(ngModel)]="ing.taste_level">
                                        <option [value]="1" value="1"> Level 1</option>
                                        <option [value]="2" value="2"> Level 2</option>
                                        <option [value]="3" value="3"> Level 3</option>
                                      </select>
                                    </td>
                                    <td>
                                      <button><i class="material-icons" (click)="removingtaste_level(i)" style="color: red;">remove_circle</i></button>
                                    </td>
                                  </tr>
                                  <button><i class="material-icons" (click)="addingtaste_level()" style="color: red;">add_circle</i></button>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>

                  <label style="color: black">Thành phần</label>
                  <div id="ThanhPhan" [ngStyle]="{display:displayddl2}">
                    <label style="color: black">Thành phần</label>
                    <div class="content" style="margin-top: -3%">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-lg-12 col-md-12">
                            <div class="card">
                              <div class="card-body table-responsive">
                                <table class="table table-hover">
                                  <thead class="text-danger">
                                    <tr>
                                      <th>#</th>
                                      <th>Nguyên liệu</th>
                                      <th>Số lượng</th>
                                      <th>Đơn vị tính</th>
                                      <th>Xóa</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr
                                      *ngFor="
                                        let ing of dish.dish_ingredients;
                                        let i = index
                                      "
                                    >
                                      <td>{{ i + 1 }}</td>
                                      <td>
                                        <div class="dropdown">
                                          <select name="MaterialSelect{{ing.metarial_name}}" class="form-control custom-select"  [(ngModel)]="ing.metarial_id" (change)="onChangeCategory()">
                                            <option [value]="st.id" *ngFor="let st of ListMet"  value="{{st.id}}"> {{st.name}}</option>
                                          </select>
                                        </div>
                                      </td>
                                      <td>
                                        <input
                                          type="text"
                                          class="form-control"
                                          value="{{ ing.quantity }}"
                                          style="width: 20%"
                                          name="inputnewquantity{{ ing.metarial_name }}"
                                          [(ngModel)]="ing.quantity"
                                          [value]="ing.quantity"
                                        />
                                      </td>
                                      <td>
                                        <input
                                          type="text"
                                          class="form-control"
                                          value="mg"
                                          style="width: 25%"
                                        />
                                      </td>
                                      <td>
                                        <button><i class="material-icons" (click)="removingingredients(i)" style="color: red;">remove_circle</i></button>
                                      </td>
                                    </tr>
                                    <button><i class="material-icons" (click)="addingredients()" style="color: red;">add_circle</i></button>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <label style="color: black">Thành phần dinh dưỡng</label>
                    <div class="content" style="margin-top: -2%">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-lg-12 col-md-12">
                            <div class="card">
                              <div class="card-body table-responsive">
                                <table class="table table-hover">
                                  <thead class="text-danger">
                                    <tr>
                                      <th>#</th>
                                      <th>Tên Vị</th>
                                      <th>Khối lượng</th>
                                      <th>Xóa</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr
                                      *ngFor="
                                        let ing of dish.nutrient_details;
                                        let i = index
                                      "
                                    >
                                      <td>{{ i + 1 }}</td>
                                      <td>
                                        <div class="dropdown">
                                          <select name="MaterialSelect{{ing.id}}" class="form-control custom-select"  [(ngModel)]="ing.nutrient_id" (change)="onChangeCategory()">
                                            <option [value]="st.id" *ngFor="let st of ListNutrients"  value="{{st.id}}"> {{st.name}}</option>
                                          </select>
                                        </div>
                                      </td>
                                      <td>
                                        <input
                                          type="text"
                                          class="form-control"
                                          value="{{ ing.amount }}"
                                          style="width: 20%"
                                          name="namenutrient{{ing.amount}}"
                                          [(ngModel)]="ing.amount"
                                          [value]="ing.amount"
                                        />
                                       </td>
                                      <td>
                                        <button><i class="material-icons" (click)="removingnutrient(i)" style="color: red;">remove_circle</i></button>
                                      </td>
                                    </tr>
                                    <button><i class="material-icons" (click)="addingnutrient()" style="color: red;">add_circle</i></button>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div id="TienHanh" [ngStyle]="{display:displayddl3}">
                  
                    <div class="col-lg-12 col-md-12"
                    *ngFor="let repices of dish.repices; let i = index">
                    <label style="color: black">Các bước thực hiện {{repices.id}}</label>
                      <div class="col-lg-12 col-md-12"
                      *ngFor="let step of repices.steps; let i = index">
                        <label style="color: black">{{i+1}}</label>
                        <textarea type="text" class="form-control" name="inputdescription{{step.description}}"
                        [(ngModel)]="step.description" value="{{step.description}}"></textarea><br/>
                      </div>
                    <button (click)="addingStep(repices.id)" ><i class="material-icons"  style="color: red;">add_circle</i></button>
                    </div>
                    <!-- <nav aria-label="Page navigation example">
                      <button><i class="material-icons" (click)="addingrepices()" style="color: red;">add_circle</i></button>
                      <ul class="pagination justify-content-center">
                          <li class="page-item"><a class="page-link" *ngIf="currentrepices > 1" (click)="previousPices()"><<</a></li>
                          <li class="page-item"><div class="page-link">{{currentrepices}}/{{maxrepices}}</div></li>
                          <li class="page-item"><a class="page-link" *ngIf="maxrepices != currentrepices"  (click)="nextPage()">>></a></li>
                      </ul>
                    </nav> -->
                  </div>
                </div>
                <a
                class="btn btn-outline-success"
                style="width: 100px; margin-left: 45%; margin-bottom: 2%; "
                href="./product-page"
                (click)="createDish()"
                >Thêm</a
              >
              </form>

              <!-- End form -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <div class="copyright float-right">
          Copyright © 2021 <a href="##" target="_blank">CookBox</a> All Rights
          Reserved.
        </div>
      </div>
    </footer>
  </div>
</div>
